// 变量使用$开头。驼峰与连接符都可以使用。

$fontSize = 1px
// 以rem / em 为单位的。请在此需要修改$fontSize
$fontWeightBold = 600
$fontWeightCommon = 400

$white = #fff
$grey0 = #9b9b9b
$grey1 = #666
$grey2 = #4a4a4a
$black = #000

$borderRadiusBig = 8rem
$borderRadiusSmall = 4rem

$paddingTop = 28rem
$paddingRight = 28rem
$paddingBottom = 28rem
$paddingLeft = 28rem
// $padding = $paddingTop $paddingRight $paddingBottom $paddingLeft

$separate = 24rem