// 变量使用$开头。驼峰与连接符都可以使用。

// $fontSize = 100px
// 以rem / em 为单位的。请在此需要修改$fontSize
$fontWeightBold = 600
$fontWeightCommon = 400

$white = #fff
$greyf = #f2f5f8
$grey9 = #9b9b9b
$grey6 = #666 
$grey4 = #4a4a4a
$black = #000

$borderRadiusBig = 8rem
$borderRadiusSmall = 4rem

$paddingTop = .28em
$paddingRight = .28em
$paddingBottom = .28em
$paddingLeft = .28em
// $padding = $paddingTop $paddingRight $paddingBottom $paddingLeft

$separate24 = .24rem
$separate08 = .08rem